html {
    margin: 0;
    padding: 0;
}
#container {
    background-color: yellow;
    width: 480px;
    height: 480px;
    display: grid;



}
#container div:hover {
    /* background-color: red; */
}

